* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
} 

    

header{
    text-align: left;
    margin-bottom: 20px;
    /* border: 1px solid red; */
    box-sizing: border-box;
    
}
.col{
    display: inline-block;
/* margin: 10px; */
}
.col-1 img {
    width: 200px;
    height: 7vh;
    /* border: 1px solid green;  */
     margin-right: 70vh;
    margin-left: 30vh;
    box-sizing: border-box; 
    
    /* border: 1px solid; */
} 
.col-2 a{
    
   border-radius: 10px;
    text-decoration: none;
    border: 2px  solid black ;
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 2px;
    box-sizing: border-box;
    /* margin-left: 50vh; */
    /* margin-bottom: 100vh; */
  
}

body{
    text-align: center;
    
}
table{
    border-color:  black;
    border: solid;
    text-align: center;
    margin-left: 30vh;
    padding: 5px;
    border-collapse: collapse;
    box-sizing: border-box;
    
    
    
}
th , td{
    border: solid;
    padding: 10px;
    box-sizing: border-box;
}
footer{
    margin-top: 20px;
    font-size: 20px;
}
/* body{
    margin: 0;
} */